:root {
  --primary-color: #FFCD00;
  --secondary-color: #fff6bf; /* rgba(82, 112, 251, 0.39); */
  --bg-primary: #ECEFF7; /*#171717*/
  --bg-secondary: #FFFFFF; /*#000000*/
  --bg-tartiary: #cecece;
  --txt-primary: #8F8D98;
  --txt-secondary: #5a5a5aa1;
  --txt-tertiary: #bdbdbda1;
  --txt-title: #7a7a7a;
  --success-color: #28a745;
  --danger-primary: #c23846;
  --danger-secondary: #ff536437;
  --warning-color: #ffc107;
  --admin-color: #3a99f8;
  --admin-secondary-color: #3a99f868;
  --info-color: #17a2b8;
  --light-color: #3a99f8;
  --dark-color: #343a40;
  --button-txt: #fff;
  --follow-button-color:#3a99f8;

  --green: #28a745;
  --red: #F25E62;
  --blue: #4298B4;
  --dark-green: #33A474;
  --purple: #88619A;
  --yellow: #E4AE3A;
  --pink: #CC09DC;
  --orange: #F2925E;
  
  
  --plan-primary-color: #000000;
  --plan-background-image: #e0e0e0;
  --plan-button-text-color: #ffffff;
  --plan-title-color: #5b5a5f;
  --plan-text-color: #6b7280;

  /**/
  --achievement-comum: #7CE57A;
  --achievement-rare: #F2925E;
--achievement-rare-background: conic-gradient(
  from 0deg,
  #FF863A,
  #fce564,
  #FF6347,
  #ff7926
);
  --achievement-legendary-background: conic-gradient(
                              from 0deg,
                              #EB6CFF,
                              #5BB1FF,
                              #5AFFE4,
                              #FDED49,
                              #EB6CFF
                            );

  --achievement-disabled: rgb(216, 216, 216); /*rgb(51 51 51)*/

  --shadow: rgba(10, 10, 10, 0.4) 0px 0px 9px 0px;
  --msg-send: #353342;
  --txt-solid: #c3c6e0;
  --link: #ffc107;

  --instagram_color: #f185fe;
  --facebook_color: #5b97e6;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
html:hover {
  background-color: var(--bg-primary);
  color: #ffffffd7;
  font-family: system-ui, monospace, 'Gill Sans';
  transition: 1s;
}

/* @media (min-width: 769px) {
  html,
  html:hover {
    padding: 10px 0 0 10px;
  }
} */

img,
a {
  cursor: pointer;
  color: var(--txt-primary);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--txt-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 16px;
  border-radius: 8px;
  padding: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 8px;
  border: 4px solid var(--bg-secondary);
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 8px;
}

.contentOpen {
  transition: 0.6s;
  padding-left: 65px;
}

.contentClose {
  transition: 0.6s;
  padding-left: 220px;
}

/* toasty */
.Toastify__toast {
  border-radius: 10px !important;
}

@media (max-width: 768px) {
  .contentOpen,
  .contentClose {
    padding: 23px 0 0 0;
  }
}
